name: Go Tests

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
            - 'dev/**'

env:
    EACHMODULE_CONCURRENCY: 2

jobs:
    unix-tests:
        name: Unix SDK tests
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest]
                go-version: ["1.22", "1.23", "1.24", "1.25"]
        steps:
            - uses: actions/checkout@v2

            - name: Set up Go
              uses: actions/setup-go@v2
              with:
                  go-version: ${{ matrix.go-version }}

            - name: Test
              run: go test -v ./...

    x86-tests:
        name: Unix x86 SDK tests
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest]
                go-version: ["1.21"]
        env:
            GOARCH: "386"
        steps:
            - uses: actions/checkout@v2

            - name: Set up Go
              uses: actions/setup-go@v2
              with:
                  go-version: ${{ matrix.go-version }}

            - name: Test
              run: go test -v ./...

    windows-tests:
        name: Windows SDK Tests
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [windows-latest]
                go-version: ["1.21", "1.22", "1.23"]
        env:
            EACHMODULE_SKIP: "internal\\repotools\\changes"
        steps:
            - uses: actions/checkout@v2

            - name: Set up Go
              uses: actions/setup-go@v2
              with:
                  go-version: ${{ matrix.go-version }}

            - name: Test
              run: go test -v ./...
